@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

html body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
}

.main-bg {
    background: url('../images/bg_1.png');
    background-size: cover;
}

/*HEADER*/

.header-block .navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar {
    min-height: 85px;
    z-index: 100;
}

body .header-block .navbar-nav li a {
    color: white;
}

body .header-block .navbar-nav li a:hover {
    color: #606060;
}

.menu-item {
    font-size: 22px;	
    font-weight: 300;	
    line-height: 27px;
}

.menu-img {
    max-width: 100%;
    width: 150px;
}

.navbar-inverse .navbar-toggle {
    float: left;
    border: none;
    margin-top: 25px;
}

.header-block .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.header-block .navbar-inverse .navbar-toggle:active, .header-block .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.glyphicon-remove {
    color: #606060;
    font-size: 20px;
}

/*END OF HEADER*/

/*INTRO SECTION*/

.page-title {
    font-size: 64px;
    color: white;
    z-index: 0;
}

.intro-section {
    padding: 40px 0 100px;
    position: relative;
    overflow: hidden;
}

.absolute {
    position: absolute;
    top: 0%;
    left: 0%;
}

.top-phone {
    width: 393px;
    position: relative;
    height: 620px;
}

.video {
    position: absolute;
    top: 9%;
    width: 275px;
    left: 16%;
    border-radius: 3%;
}

.intro-text {
    font-size: 24px;
    color: white;
    margin: 30px 0;
    font-weight: 500;
}

.orange-button, .orange-button:focus, .orange-button:active {
    border-radius: 98px;
    height: 75px;	
    background-color: #FFBE58;	
    box-shadow: 0 8px 11px 0 rgba(255,194,97,0.68);
    font-size: 22px;
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.6;
}

.orange-button:hover {
    text-decoration: none;
    color: white;
    opacity: .8;
}

.intro-section .orange-button {
    width: 210px;
    height: 65px;
    display: block;
    text-align: center;
    z-index: 5;
    position: relative;
}

.wave {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: -9px;
}
/*END OF INTRO SECTION*/

/*FEATURES SECTION*/

.features-section {
    padding: 140px 0;
    background-color: white;
}

.section-title {
    color: #606060;		
    font-size: 50px;	
    font-weight: 500;	
    line-height: 61px;
    text-align: center;
}

.subtitle {
    color: #929292;	
    font-size: 25px;	
    font-weight: 500;	
    line-height: 30px;	
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

.features-section hr{
    height: 7px;
    background-color: #FFBE58;
    width: 300px;
    margin: 0 auto;
}

.img-title {
    color: #606060;
    font-size: 22px;	
    line-height: 27px;	
    text-align: center;
}

.features-img {
    display: block;
    margin: auto;
}

.first-img {
    margin: 0 auto 80px;
}

.middle-img {
    margin: 30px auto 90px;
}

.img-subtitle {
    font-size: 14px;	
    line-height: 18px;	
    text-align: center;
    color: #929292;
    margin: auto;
    max-width: 210px;
}

.m-t-80 {
    margin-top: 80px;
}

/*END OF FEATURES SECTION*/

/*SLIDER SECTION*/
.desktop .carousel {
    position: absolute;
}

.white {
    color: white;
}

.slider-section {
    padding: 140px 0 40px;
    background: url('../images/bg2.png');
    background-size: cover;
    position: relative;
}

.slider-section .slide {
    position: relative;
}

.slider-section .section-title {
    font-weight: 300;
    margin-bottom: 70px;
}

.second-row {
    position: absolute;
    top: -19px;
    left: 160px;
    right: 160px;
}

.clear {
    clear: both;
}

.carousel-img {
    width: 300px;
    display: block;
    margin: auto;
}

.slider-section .carousel-indicators {
    bottom: -20px;
    display: none;
}

.slider-section .carousel-indicators li{
    background-color: white;
}

.slider-section .carousel-indicators li.active{
    background-color: #37D1D3;
    border-color: #37D1D3;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.cl {
    padding: 20px 15px;
    width: 100%;
}

.slick-active { 
    padding: 20px 0; 
}

.slick-center { 
    transform: scale(1.2) 
}

.slick-slide:not(.slick-active) { 
    margin: 20px 0; 
}

.child { 
    width:100%; 
}

.slide:not(.slick-active) { 
    cursor: pointer; 
}

.slick-track:focus {
    outline: none;
}

.desktop button.slick-next:before {
    content: ">";
    font-weight: bold;
    font-size: 40px;
}
.desktop button.slick-prev:before {
    content: "<";
    font-weight: bold;
    font-size: 40px;
}

/*END OF SLIDER SECTION*/

/*NEWSLETTER SECTION*/

.no-border {
    border: none;
}

.newsletter-section {
    background-color: white;
    padding: 140px 0;
    background: url('../images/clouds.png');
    background-size: cover;
}

.newsletter-section .subtitle {
    max-width: 500px;
}

.input {
    border: 1px solid #98F9E4;	
    border-radius: 37.5px;	
    height: 75px;	
    padding: 0 0 0 35px;
    color: #929292;	
    font-size: 18px;	
    font-weight: 500;	
    line-height: 24px;	
    outline: none;
}

.subscriptionForm {
    margin: 65px 0 140px
}

/*END OF NEWSLETTER SECTION*/

/*FOOTER SECTION*/

.footer-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 30px;
}

.footer-block .navbar.navbar-default{
   background-color: transparent;
   border: none;
   margin: 0;
}

.top-border {
    border-top: 2px solid #D3D3D3;
}

.no-padding {
    padding: 0 !important;
}

.footer-logo {
    margin: 2px 0;
}

h4.footer-logo {
    color: #606060;	
    font-size: 24px;	
    line-height: 29px;
    font-weight: normal;
}

h5.footer-logo {
    color: #606060;
    font-size: 17px;	
    font-weight: 300;	
    line-height: 20px;
}

.footer-logo a {
    color: #606060;
}

.footer-menu-item {
    color: #737373;	
    font-size: 20px;	
    font-weight: 300;	
    line-height: 58px;
}

/*END OF FOOTER SECTION*/

/*RESPONSIVE*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        float: right;
        margin: 20px 0;
    } 
}

@media (max-width: 767px) {

    .menu-opened .navbar-header {
        background-color: white;
        height: 61px;
    }

    .menu-opened .navbar-brand {
        display: none;
    }

    .menu-opened .navbar-toggle {
        margin-top: 5px;
    }

    .mobile {
        display: block;
    }

    .mobile img {
        width: 300px;
    }

    .desktop {
        display: none;
    }

    body .header-block .navbar-nav li a {
        color: #606060;
        border-bottom: 1px solid #929292;
        margin: 0 50px;
        padding: 15px 0;
    }

    body .header-block .navbar-nav li a:hover {
        color: #98F9E4;
    }

    .header-block .sm-hide {
        display: none;
    }

    .header-block {
        position: absolute;
        width: 100%;
    }

    .navbar-inverse .navbar-collapse {
        background-color: white;
        border: none;
        position: relative;
        z-index: 101;
    }
   
    body .header-block .navbar-nav li {
        z-index: 10;
    }

    .mobile-menu {
        padding: 0 0 40px;
    }

    .intro-section {
        padding: 100px 0;
    }

    .orange-button {
        display: block;
        text-align: center;
        width: 210px;
        margin: 0 auto;
        height: auto;
    }

    #about .carousel-indicators {
        display: block;
    }

    #about .glyphicon {
        display: none;
    }

    .footer-block .navbar-nav {
        margin: 35px 0;
    }

    .subscriptionForm {
        margin: 65px 0 250px;
    }

    .footer-block .navbar-header .navbar-brand {
        float: none;
        padding: 15px 0;
    }

    .navbar-header {
        display: block;
        margin-left: 15px;    
    }
}

@media (max-width: 991px) {
    .desktop .slick-next {
        right: -15px;
    }

    .input {
        display: block;
        margin: 0 auto;
    }

    #about .glyphicon {
        top: 130px;
    }

    .newsletter-section .orange-button {
        display: block;
        text-align: center;
        width: 210px;
        margin: 0 auto;
        height: auto
    }

    .main-bg {
        background-position-x: 20%;
    }

    .carousel-img {
        width: 220px;
    }

    .wrap svg {
        width: 352px;
    }

      .absolute {
        top: 10%;
    }

}

@media (max-width: 1200px) {
    .subscriptionForm .orange-button {
        margin-top: 15px;
    } 
}

@media (min-width: 992px) and (max-width: 1199px) {
   .carousel-img {
       width: 260px;
   }

   .slick-slide:not(.slick-active) .inside-phone{ 
    height: 293px;
    }
}

@media (min-width: 1200px) {
    .main-bg {
        background-position-y: bottom;
    }

    .wave {
        width: 110%;
        left: -10%;
    }
}

/*END OF RESPONSIVE*/


